<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--создание класса и настройка стиля для него-->
    <style>
        .неуникальный_класс_элемента{
            color: brown
        }
    </style>
</head>

<body>
    <div>
        <!--заголовок с АТРИБУТОМ id-->
        <h1 id="уникальный_id_элемента1">Тестовый проект для тестирования</h1>

        <!--заголовок поменьше с атрибутом class, позволяющий группировать элементы для работы с ними, 
        например стили-->
        <h2 class="неуникальный_класс_элемента">при помощи pytest & playwright</h2>

        <!--параграф для отоброажения текста, а в нём span, который позволяет работать отдельно с кусочком этого текста, 
        чтобы не приметь атрибуть на весь текст. Класс же применяет стиль, настроенный выше, уже ко всему параграфу-->
        <p class="неуникальный_класс_элемента">В данном курссе невероятное количество воды и <span style="color: red">бесполезной</span>  мне инфы, но я всё ещё надеюсь, что он мне что-то
            даст...</p>

        <!--ссылка, которая откроется в новой вкладке атрибут: target-->
        <a href="https://learngitbranching.js.org/?locale=ru_RU&demo=" target="_blank">Ссылка на git тренажёр</a><br>
        <img alt="some random picture" src="picture.webp" style="width: 50"><br>
        <h3>Какой-то список</h3><br>
        <ul>
            <li>ненумерованный список: строка 1</li>
            <li>ненумерованный список: строка 2</li>
            <li>ненумерованный список: строка 3</li>
            <li>ненумерованный список: строка 4</li>
            <li>ненумерованный список: строка 6</li>
        </ul>
        <ol>
            <li>нумерованный список</li>
            <li>нумерованный список</li>
            <li>нумерованный список</li>
            <li>нумерованный список</li>
            <li>нумерованный список</li>
        </ol><br>
        <button>просто<br>кнопка</button><br><br>
        <!--форма, которая содержит в себе разные элементы-->
        <form class="неуникальный_класс_элемента" action="/action" method="POST">
            <input type="text" placeholder="какой-то инпут" value="дефолтное значение"><br><br>
            <input type="email" placeholder="инпут для ввода мыла обязательно" required><br><br>
            <textarea placeholder="текстовое поле">какое-то дефолтное значение</textarea><br><br>
            <button type="submit">не просто<br>кнопка<br>а кнопка<br>которая отправляет<br>форму на сервак</button>
        </form>
        <!--таблица, которая состои из table row - строки, а внутри них - ячейки-->
        <table>
            <thead>
                <tr>
                    <td>столбец 1</td>
                    <td>столбец 2</td>
                    <td>столбец 3</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>строка 1</td>
                    <td>строка 2</td>
                    <td>строка 3</td>
                </tr>
                <tr>
                    <td>строка 4</td>
                    <td>строка 5</td>
                    <td>строка 6</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>